.socialNetworks {
    background: #fff;
    padding: 15px 0 15px 20px;
    border-radius: 3px;
    margin-bottom: 2.5rem;
    height: 60px;
    list-style: none;
    justify-content: space-between;
    width: 100%;
    display: flex;
    align-items: center;
}

.socialNetworks span {
    text-align: center;
}

.iconMedia {
    width: 35px;
    margin: 15px;

}
.iconsMedia {
    display: flex;
    justify-content: space-between;
    margin-right: 15px
}
