nav.Navigation {
    position: fixed;
    width: 250px;
    font-size: 0.875rem;
}

nav.Navigation li {
    display: flex;
    font-size: large;
    padding: 0 20px;
}

.ulNavigation li {
    margin: 20px 0;
}

.iconsLeft::before {
    content: '\2192';
    margin-right: 5px;
}

.userStudent {
    list-style: none;
    padding: 0;
}

.userName {
    font-weight: bold;
}

.typeUser {
    font-size: 15px;
    margin-top: 5px;
    padding-top: 0;
}

.menu-ping-mark {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 10px;
    background-color: #fe7c96;
    color: white;
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    font-size: 17px;
}

a {
    text-decoration: none;
    color: #000000;
}

.icons {
    margin-left: auto;
}

.userIcon {
    margin-top: 17px;
}

.dashbord {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.technicalArticles {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #d4d4d4;
}

.arrow {
    margin-left: auto;
    transition: transform 0.5s ease-in-out;
}

.rotate {
    transform: rotate(-90deg);
}


.iconsArrow {
    margin-left: -4px;
}
