.videoBox {
    width: 100%;
    padding: 40px;
    background-color: #ffffff;
}

.videoIcon {
    width: 40px;
    border-radius: 15%
}

.videoElement {
    display: flex;
    align-items: center;
}

.videoText {
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}

.videoElementBox {
    margin-bottom: 40px;
}
