header {
    margin: 10px;
    display: flex;
    height: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.logo{
    width: 50px;
    margin-left: 30px;
    display: inline-block;
}

.menu-btn, .btn {
    padding: 0;
    margin: 0;
    border: none;
    background-color: rgba(28,28,28,0);
    width: 15px;
    margin-left: 10px;
}

.menu-btn {
    margin-left: 60px;
}

.user {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 auto;
    max-width: 100%
}
li {
    margin-right: 10px;
    max-width: 100%
}

img {
    max-width: 100%
}
